<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class ="container">
				<a href="#" class="brand" >Tree book</a>
				<ul class ="nav">
					<li><%= link_to "All Statuses", feeds_path %></li>
				</ul>
				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li><%= link_to current_user.full_name, edit_user_registration_path %> </li>
						<li><%= link_to "Log Out", logout_path %></li>

						<% else %>
							<li><%= link_to "Log in", login_path %></li>
							<li><%= link_to "Sign-Up",register_path %></li>
				    <% end %>

			</div>
	    </div>
	</div>
	
	<div class="containser">
		 <% flash.each do |type,message| %>

			<% if flash[:notice] %>
				<div class="alert <%= flash_class type %>">
					<button class="close" data-dismiss="alert">x</button>
					<%= message %>
				</div>
			<% end %>
		<% end %>	
		    <%= yield %>
	</div>

</body>
</html>
